<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>

	
	<system.serviceModel>
		<services>
   <service behaviorConfiguration="WCF_RESTful.WSUforestServiceBehavior"
    name="WCF_RESTful.WSUforestService">
    <endpoint address="" behaviorConfiguration="WCF_RESTful.WSUforestServiceBehavior"
     binding="webHttpBinding" contract="WCF_RESTful.IWSUforestService" />
   </service>
  </services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WCF_RESTful.WSUforestServiceBehavior"> <!-- name 추가 -->
					<!-- 메타데이터 정보를 공개하지 않으려면 배포하기 전에 아래 값을 false로 설정하십시오. -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- 디버깅 목적으로 오류에서 예외 정보를 받으려면 아래의 값을 true로 설정하십시오. 예외 정보를 공개하지 않으려면 배포하기 전에 false로 설정하십시오. -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="WCF_RESTful.WSUforestServiceBehavior"> <!-- name 추가 -->
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<!-- 추가 -->
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value='*' />
				<add name="Access-Control-Allow-Headers" value="Accept, Cache-control, Content-type, Authorization, Context" />
				<add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
				<add name="Access-Control-Max-Age" value="86400"/>
			</customHeaders>
		</httpProtocol>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        디버깅 중에 웹 응용 프로그램 루트 디렉터리를 찾으려면 아래 값을 true로 설정하십시오.
        웹 응용 프로그램 폴더 정보를 공개하지 않으려면 배포 전에 false로 설정하십시오.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>